.red{
    color: rgb(242, 55, 8);
}
.bg-yellow{
    background-color: rgb(247, 251, 46);
}
#seconddiv{
    background-color: rgb(165, 88, 237);
}
.yellow{
    color: rgb(8, 10, 177);
}
#firstspan{
    background-color: rgb(77, 237, 119);
}