p{
    background-color: rgb(193, 235, 142);
}
a{
    background-color: rgb(243, 144, 213);
}
div{
    background-color: rgb(122, 208, 232);
}
span{
    background-color: rgb(201, 101, 101);
}